body{
	background: #fff;
}
body,p,h1,h2,h3,h4,h5,h6,dl,dd{
margin:0;
font:16px "微软雅黑";
}
ul,ol{
margin:0;
padding:0;
}
h1,h2,h3,h4,h5,h6,strong,b{
font-weight:0;
}
em,i{
font-style:normal;
}
img{
border:none;
}
a{
text-decoration:none;
color:#000;
}
li{
list-style:none;
	}
input,textarea,select,option,fieldset{
	border:0;
	margin:0;
	padding:0;
	background: none;
	outline: none;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility: hidden;
	}
.clearfix{
	zoom:1;
	}
.fl{
	float:left;
	}
.fr{
	float:right;
	}
